.page-header {
  margin-bottom: 40px;
}

.page-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.page-header p {
  color: var(--text-light);
}

.provas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.prova-card {
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prova-card span {
  color: var(--text-light);
}

@media (max-width: 900px) {
  .provas-grid {
    grid-template-columns: 1fr;
  }
}