.navbar {
  height: 80px;
  background: white;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--primary);
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  transition: var(--transition);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--primary);
}

.nav-actions {
  display: flex;
  gap: 12px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}